/*
Font families used:
1. Lato font with 700 weight
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

/*
Flex , gap & display related utilities
*/

@import url("./utilities.css");

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-theme-color: #ff5b91;
  --white: rgba(255, 255, 255, 1);
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgba(236, 217, 255, 0.38);
  min-height: 100vh;
}

.app-button {
  background-color: var(--primary-theme-color);
  color: var(--white);
  padding: 1.5rem 4rem;
  border: 1px solid transparent;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
}

/* Styles for ribbons at the start */
#confetti-block {
  justify-content: space-between;
}

.confetti-section {
  position: absolute;
  top: 0;
}

.confetti-left {
  left: 0;
}

.confetti-right {
  right: 0;
}

.confetti-left img,
.confetti-right img {
  height: 10rem;
  max-height: 12rem;
}

/* Styles for weddings by betterhalf both container and logo */
.weddings-by-betterhalf-container {
  width: 100%;
  margin-top: 5rem;
}

.weddings-by-betterhalf-container img {
  width: 310px;
  height: 50%;
}

/* Styling for this main-content-viewer
as it is the parent of several sub sections be it
related to helping the user understand*/
.main-content-viewer {
  margin-top: 10px;
  font-size: 1.2rem;
}

@media screen and (max-width: 1050px) {
  .main-content-viewer {
    font-size: 1.5rem;
  }
}

/* welcome-section is set of styles 
  applied to the section for welcoming the user to
  start the selfie capturing process */

#welcome-section h1 {
  font-weight: 700;
}

#welcome-section > .steps-container {
  background-color: var(--white);
  padding: 2rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.step-container {
  gap: 10px;
  flex-basis: 33%;
}

.step-container > h4 {
  text-transform: uppercase;
}

.step-container > img {
  width: 123px;
  height: 123px;
}

/*
Selfie capturing section
*/

#video-container {
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 100%;
  border: 2px solid #5c27b2;
  overflow: hidden;
  fill: #0056b3;
}

#centerImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 225px;
  height: 298px;
}

/* No images found section  */
#no-results-found-section img, #form-submit-successful-section img {
  width: 291px;
  height: 291px;
}

#videoContainer {
  display: none;
  position: relative;
  width: 480px;
  height: 480px;
  margin: 0 auto;
  border: 2px solid #5c27b2;
  border-radius: 100%;
  overflow: hidden;
  fill: #0056b3;
}

#video {
  transform: scaleX(-1);
  object-fit: cover;
}

#logo {
  width: 292px;
  height: 99px;
  background-color: #ffffff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#flexlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainTitleOne {
  color: var(--primary-theme-color);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainTitleThree {
  color: var(--primary-theme-color);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
}

#iframeContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 500px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}
#iframeContainer iframe {
  width: 100%;
  height: 100%;
  border: 2px solid pink;
  border-radius: 16px;
}

#captureBtn {
  display: block;
  margin: 0 auto;
  display: flex;
  width: 469.794px;
  height: 69px;
  padding: 11.443px 41.003px;
  justify-content: center;
  align-items: center;
  gap: 9.536px;
  flex-shrink: 0;
  color: var(--Surface-White, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 19.071px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 30.514px;
  background: #ff5b91;
  box-shadow: 0px 1.90711px 3.81422px 0px rgba(155, 146, 146, 0.12);
  cursor: pointer;
}

#findSimilarBtn {
  display: block;
  margin: 0 auto;
  display: flex;
  width: 469.794px;
  height: 69px;
  padding: 11.443px 41.003px;
  justify-content: center;
  align-items: center;
  gap: 9.536px;
  flex-shrink: 0;
  color: var(--Surface-White, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 19.071px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 30.514px;
  background: #ff5b91;
  box-shadow: 0px 1.90711px 3.81422px 0px rgba(155, 146, 146, 0.12);
  cursor: pointer;
}

#getWhatsAppBtn {
  display: block;
  margin: 0 auto;
  display: flex;
  width: 469.794px;
  height: 69px;
  padding: 11.443px 41.003px;
  justify-content: center;
  align-items: center;
  gap: 9.536px;
  flex-shrink: 0;
  color: var(--Surface-White, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 19.071px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 30.514px;
  background: #ff5b91;
  box-shadow: 0px 1.90711px 3.81422px 0px rgba(155, 146, 146, 0.12);
  cursor: pointer;
}

.refreshPageBtn {
  display: block;
  margin: 0 auto;
  display: flex;
  width: 469.794px;
  height: 69px;
  padding: 11.443px 41.003px;
  justify-content: center;
  align-items: center;
  gap: 9.536px;
  flex-shrink: 0;
  color: var(--Surface-White, #fff);
  text-align: center;
  font-family: Lato;
  font-size: 19.071px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 30.514px;
  background: #ff5b91;
  box-shadow: 0px 1.90711px 3.81422px 0px rgba(155, 146, 146, 0.12);
  cursor: pointer;
}

#result {
  color: #000;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

#googleLink {
  color: #5c27b2;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

#googleLink:hover {
  color: #ff5b91;
}

#noResults {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#noResults p {
  color: #000000;
  font-weight: bold;
  font-family: lato;
}

#refreshPageBtn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#refreshPageBtn:hover {
  background-color: #0056b3;
}

/* #bottomImageContainer {
            position: fixed;
            bottom: 0;
            left: 0;
            padding-bottom: 50px;
            width: 100%;
            height: 200px;
            background-color: rgba(255, 255, 255, 0.9); 
            z-index: 9998; 
            display: none;
        } */
#bottomImageContainer {
  position: fixed;
  bottom: 300px;
  left: 0;
  padding-bottom: 50px;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottomImage {
  max-width: 100%;
  height: auto;
}

#captureBtn.clicked + #bottomImageContainer {
  display: none;
}
